@{
    ViewBag.Title = "Home Page";
}
<style>
    .imgsize{
        width:100vw;
    }
</style>
<div style="text-align: center;">
    <img  src="~/Content/Images/wide_soccer.jpg" @*style="width:850px;height:283px;"*@  class="img-fluid imgsize">
</div>